html, body {
	height:100%;
	border:0;
	margin:0;
	padding:0;
}

body {
	background-color: #E8F2FB;
	height: 100%;
}

#banner {
	width: 100%;
	height: 125px;
	background-color: gray;
}

#wrapper {
	width:1024px;
	height:auto;
	overflow:none;
	margin:auto;
	background-color: red;
}

#content {
	float:left;
	width:680px;
	background-color: green;
}

#footer {
	background-color: blue;
}

#main_menu {
	background-color: #CCF;
}

.clear {
	clear: both;
}

#system_messages {
	position: fixed;
	margin: auto;
	z-index: 1;
	top: 100px;
	width: 40%;
	left: 50%;
	margin: 0 0 0 -20%;
}

.system_message_0 {
	background-color: #F00;
}
.system_message_1 {
	background-color: #0F0;
}
